<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://auth-fiaptechchallenge.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c7c46dd0-6d9b-4501-86c1-8b652ca11445/resourceGroups/fiap/providers/Microsoft.Web/sites/auth-fiaptechchallenge</ResourceId>
    <UserName>$auth-fiaptechchallenge</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://auth-fiaptechchallenge.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>